@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@300&display=swap');
*{
    padding:0;
    margin: 0;
    /* color:rgb(34,56,82,0.9); */
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main-section-bg{

    /* background-image:linear-gradient(to left,rgb(36,59,85),rgb(20,30,48)); */
    background-color: #FEA2AF;
    
    
}

.img-section{
    display: inline;
    width: 100px;
    object-fit: contain;

}

#imgdiv { display:block;width: 1px;height: 1px;}

.nav{
    margin-left: 200px;


}
 
.nav-link h4{
    color: #66aa00;
   
}

.footer-bg-section{
    background-color: #332f2c;
    width: 100%;

}

.img-section{
    width: 100vh;
    height: 80vh;
    object-fit: contain;
}

.card-container{
    background-color: white;
    /* background:  url("https://images.pexels.com/photos/347141/pexels-photo-347141.jpeg?cs=srgb&dl=pexels-tirachard-kumtanom-347141.jpg&fm=jpg"); */
    background-size: cover;
    background-position: center;
    height: 70vh;
    margin: 10px;
}



.icon-box{
    
    padding: 30px;
    margin: 10px;
    background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 15px;
  text-align: center;
  border: 1px solid rgb(189, 179, 179);
  /* backdrop-filter: blur(0.8rem); */
}

.line-tag{
    text-decoration: line-through;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to left bottom, #84eb67, #84d954, #82c841, #7fb72f, #7ba61b);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #92ea80;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #92ea80;
}
.myButton:hover {
	background-image: linear-gradient(to left bottom, #84eb67, #84d954, #82c841, #7fb72f, #7ba61b);
	background-color:#92ea80;
}
.myButton:active {
	position:relative;
	top:1px;
}
#rcorners {
    border-radius: 25px;
    padding-left: 10px;
    padding-right:10px;
    padding-top:5px;
    width: 150px;
    height: 40px;
    border: 1px solid gray;
    position: relative;
  }
